* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(-30deg, #4df7db, #1d637d);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cabin, sans-serif;
}

article {
  font-family: Lato, sans-serif;
  font-weight: 500;
}

a {
  color: #000;
  text-decoration: underline;
}

.main-container {
  display: flex;
  flex-direction: column;
  /*   height: 100vh; */
}

.main-header {
  text-align: center;
  width: 100%;
}

.name {
  font-size: 2rem;
  color: white;
  padding: none;
}

.tagline {
  display: flex;
  align-items: center;
}

.branding {
  display: flex;
  flex-direction: column;
}

.project-teaser {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 20px 0;
}

.bio,
.project-one,
.project-two,
.project-three,
.project-four {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid black;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .project-one,
  .project-two,
  .project-three,
  .project-four {
    flex-direction: column;
  }
}

.bio {
  flex-direction: column;
  align-items: center;
}

.self-portrait {
  border-radius: 100%;
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

.bio-blurb,
.project-summary {
  width: 50%;
}

/* IMAGES */

.self-portrait {
  background-image: url('assets/images/fm_84.png');
  background-size: contain;
}

.flight-booker {
  background-image: url('assets/images/flight_booker.png');
  background-size: cover;
}

.machine {
  background-image: url('assets/images/machine.png');
  background-size: cover;
}

.time-capsule {
  background-image: url('assets/images/tc3.png');
  background-size: cover;
}

.deli {
  background-image: url('assets/images/deli.png');
  background-size: cover;
}

.thumbnail {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  height: 250px;
  width: 450px;
  text-align: center;
  line-height: 250px;
}

.footer {
  width: 100%;
  text-align: center;
}
